div.login_form_big {
	margin-top: 40px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 105px;
	
	width: 510px;
	height: 356px;
	
	background-image: url("../images/login/bg_large_login.png");
	
	color: #FFFFFF;
	
	/*padding-left: 48px;
	padding-top: 43px;*/
}
div.login_form_wrapper {
	margin-left: 48px;
	padding-top: 34px;
}
.login_submit {
	background-image: url("../images/buttons/btn_sprite.png");
	background-position: -221px -114px;
	background-color: transparent;
	border: 0 none;
	display: block;
	width: 221px;
	height: 43px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 14px;
}
.login_submit:hover {
	background-position: -221px -157px;
	cursor: pointer;
}
.facebook_login_submit {
	  background-image: url("../images/buttons/btn_sprite.png");
    background-position: 0px -114px;
		background-color: transparent;
    border: 0 none;
    display: block;
		width: 221px;
    height: 43px;
    margin-left: auto;
    margin-right: auto;
}
.facebook_login_submit:hover {
	background-position: 0px -157px;
	cursor: pointer;
}

div.login_form_big input[type=text], div.login_form_big input[type=password] {
	border: 0;
	
	background-image: url("../images/login/bg_input_text.png");
	background-color: transparent;
	background-repeat: no-repeat;
	height: 36px;
	width: 411px;
	
	padding-left: 20px;
}
div.login_form_big input[type=text] {
	margin-top: 12px;
	margin-bottom: 20px;
}
div.login_form_big input[type=password] {
	margin-bottom: 10px;
}
div.login_form_big input[type=submit] {
	margin-bottom: 9px;
}
div.login_form_wrapper p:first-of-type {
	font-size: 12px;
	margin-top: -5px;
}