#gk {
	position: absolute;
	left: 51px;
	top: 277px;
}
#cb_1 {
	position: absolute;
	left: 160px;
	top: 220px;
}
#cb_2 {
	position: absolute;
	left: 160px;
	top: 325px;
}
#sb {
	position: absolute;
	left: 220px;
	top: 131px;
}
#wb {
	position: absolute;
	left: 250px;
	top: 411px;
}
#dh {
	position: absolute;
	left: 260px;
	top: 311px;
}
#ch {
	position: absolute;
	left: 310px;
	top: 231px;
}
#oh {
	position: absolute;
	left: 410px;
	top: 301px;
}
#sh {
	position: absolute;
	left: 430px;
	top: 191px;
}
#st {
	position: absolute;
	left: 474px;
	top: 341px;
}
#cf {
	position: absolute;
	left: 524px;
	top: 241px;
}