.hide{
	display:none;
}

.edit_label_hover{
	border:1px solid #ccc;
}

.player_photo{
	position:relative;
}

.edit_photo_label{
	width:16px;
	height:16px;
	background:url('../images/player/pencil.png');
	cursor:pointer;
	position:absolute;
	top:10px;
	right: 10px;
}

#player_height .edit_input{
	width:30px;
}

#history .edit_input{
	width:30px;
}

#ui-datepicker-div{
	font-size:11px;
}

#handed .edit_input{
	width:120px;
}