.team_profile_container {
	float: left;
	position: relative;
	
	margin-top: -3px;
}
.team_profile {
	width: 730px;
	height: 1938px;
	margin-top: 12px;
	background-image: url('../images/team/bg_team_paper_texture.png');
	background-color: transparent;
}
.team_photo {
	margin-top: 44px;
	margin-left: 23px;
	background-image: url('../images/player_photo_border.png'); /* borrowed from player page, totally similar */
	width: 162px;
	height: 180px;
}
.team_photo img {
	margin-top: 5px;
	margin-left: 6px;
}
.team_name {
	position: absolute;
	top: 92px;
	left: 218px;
}
.team_home_city {
	position: absolute;
	top: 92px;
	left: 494px;
}
.team_info_1_list {
	position: absolute;
	top: 132px;
	left: 218px;
}
.team_info_2_list {
	position: absolute;
	top: 132px;
	left: 494px;
}
.team_info_1_list ul{
	list-style-type: none;
	padding-left: 0px;
	list-style-position: inside;
}
.team_info_1_list li{
	list-style-image: url("../images/icons/ico_donut.png");
	background-color: transparent;
	/*margin-top: 10px;*/
	margin-bottom: 8px;
	padding-bottom: 8px;
}
div.team_info_1a_list {
	position: absolute;
	top: 132px;
	left: 307px;
}
	.team_info_1a_list ul{
		list-style-type: none;
		padding: 0px;
	}
	.team_info_1a_list li{
		margin-top: 13px;
		margin-bottom: 10px;
	}
.team_info_2_list  ul {
	list-style-type: none;
	padding-left: 25px;
}
.team_info_2_list li {
	list-style-image: url("../images/icons/ico_donut.png");
	background-color: transparent;
	margin-top: 8px;
	margin-bottom: 8px;
	padding-bottom: 8px;
	padding-top: 2px;
}
div.team_info_2a_list {
	position: absolute;
	top: 132px;
	left: 573px;
	padding-left: 0px;
}
	.team_info_2a_list ul{
		list-style-type: none;
		padding: 0px;
	}
	.team_info_2a_list li{
		margin-top: 13px;
		margin-bottom: 10px;
	}
.team_info_wrapper_1 {
	width: 320px;
	position: absolute;
	top: 270px;
	left: 23px;
	text-align: center; /*remove soon*/
}
.team_info_wrapper_1_header {
	height: 22px;
	background-image: url('../images/team/bg_team_info_header_1.png');
	background-color: transparent;
	margin-bottom: 13px;
}
.team_info_wrapper_2 {
	width: 150px;
	position: absolute;
	top: 270px;
	left: 373px;
}
.team_info_wrapper_2_header {
	height: 22px;
	background-image: url('../images/team/bg_team_info_header_2.png');
	background-color: transparent;
	margin-bottom: 13px;
}
.team_info_wrapper_3 {
	width: 150px;
	position: absolute;
	top: 270px;
	left: 550px;
}
.team_info_wrapper_3_header {
	height: 22px;
	background-image: url('../images/team/bg_team_info_header_3.png');
	background-color: transparent;
	margin-bottom: 13px;
}
.btn_view_more {
	background-image: url('../images/buttons/btn_sprite.png');
	background-position: -280px 0px;
	width: 105px;
	height: 20px;
	margin-top: 17px;
	margin-left: auto;
	margin-right: auto;
}
.btn_view_more:hover {
	background-position: -280px -20px;
	cursor: pointer;
}
/* Team Info Photo Gallery Start */
.team_info_photo_gallery {
	width: 670px;
	position: absolute;
	
	left: 30px;
	top: 513px;
}
.team_info_photo_current {
	width: 670px;
	height: 340px;
}
.team_info_photo_gallery ul {
	padding: 0px;
	list-style-type: none;
	list-style-position: inside;
	
	position: absolute;
	bottom: 6px;
	right: 285px;
}
.team_info_photo_gallery ul li {
	display: inline-block;
	width: 19px;
	height: 16px;
}
.team_info_photo_gallery_button {
	display: block;
	width: 22px;
	height: 16px;

	background-image: url('../images/team/team_profile_sprite.png');
	background-position: -22px -58px;
}
.team_info_photo_gallery_button_active {
	background-position: 0px -58px;
}
.team_info_photo_selection {
	width: 670px;
	height: 158px;
	
	position: absolute;
	/*top: 863px;*/
	top: 350px;
	
	background-color: #000000;
	
	border: 1px solid #8C8C8C;
	border-radius: 3px 3px;
}
.team_info_photo_selection_back_next {
	display: block;
	
	position: absolute;
	top: 66px;
	
	width: 26px;
	height: 30px;
	
	background-image: url('../images/team/team_profile_sprite.png');
	background-position: -294px 0px;
}
.team_info_photo_selection_back {
	left: 6px;
}
.team_info_photo_selection_next {
	right: 6px;
}
.team_info_photo_selection ul {
	padding: 0px;
	
	list-style-type: none;
	list-style-position: inline;
	
	position: absolute;
	left: 41px;
	top: 19px;
	
	right: 0px;
}
.team_info_photo_selection ul li {
	display: inline-block;
	
	width: 180px;
	height: 120px;
	
	margin-right: 20px;
	
	background-color: #303030;
}
/* Team Info Photo Gallery End */
.team_info_tabs_wrapper {
	left: 30px;
	top: 1074px;
	position: absolute;
	
	width: 670px;
	height: 39px;
}
div.btn_team_info_tab_1 {
	width: 223px;
	height: 36px;
	float: left;
	
	background-image: url('../images/buttons/btn_team_info.png');
	background-position: 0px -36px;
}
div.btn_team_info_tab_1:hover{
	background-position: 0px -36px;
	cursor: pointer;
}
div.btn_team_info_tab_2 {
	width: 222px;
	height: 36px;
	float: left;

	background-image: url('../images/buttons/btn_team_info.png');
	background-position: -223px 0px;
}
div.btn_team_info_tab_2:hover{
	background-position: -223px -36px;
	cursor: pointer;
}
div.btn_team_info_tab_3 {
	width: 225px;
	height: 36px;
	float: left;
	
	background-image: url('../images/buttons/btn_team_info.png');
	background-position: -445px 0px;
}
div.btn_team_info_tab_3:hover {
	cursor: pointer;
	background-position: -445px -36px;
}
div.bottom_btm_bar {
	background-image: url("../images/footrade_02-sliced_61.png");
	
	width: 670px;
	height: 3px;
}
div.team_info_tab_content {
	margin-top: 15px;
	margin-bottom: 16px;
	
	width: 671px;
	height: 496px;
	
	background-image: url('../images/team/bg_field.png');
	
	text-align: center; /* marked for removal */
}
div.team_info_tab_buttons_wrapper {
	width: 430px;
	height: 36px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 30px;
}
div.btn_team_info_1 {
	float: left;
	width: 200px;
	height: 36px;
	
	background-image: url('../images/buttons/btn_sprite.png');
	background-position: -561px -56px;
}
div.btn_team_info_1:hover {
	cursor: pointer;
	background-position: -561px -128px;
}
div.btn_team_info_2 {
	float: right;
	width: 200px;
	height: 36px;
	
	background-image: url('../images/buttons/btn_sprite.png');
	background-position: -561px -92px;
}
div.btn_team_info_2:hover {
	background-position: -561px -164px;
	cursor: pointer;
}
/* Team Info Player Gallery Start */
.team_info_player_gallery {
	position: relative;
	
	top: -13px;
	
	height: 183px;
	
	border-bottom: 1px dashed #E0E1E4;
}
.team_info_player_gallery ul {
	list-style-type: none;
	list-style-position: inside;
	
	padding: 0;
	margin: 0;
	
	display: inline-block;
}
.team_info_player_gallery ul li{
	width: 164px;
	height: 44px;
	
	padding-bottom: 6px;
	
	font-size: 13px;
	color: #8C8C8C;
	
	display: block;
}
.team_info_player_gallery ul li img {
	vertical-align: middle;
	margin-right: 9px;
}
/* Team Info Player Gallery End */

/* class for quickly minaturizing huge blocks of japanese text */
div.li_small_text {
	font-size: 13px;
}
div.l_border_style li {
	border-bottom: 1px dotted #333333;
	/*padding-bottom: 11px;
	padding-top: 11px;*/
	width: 487px;
}
div.l_border_style li:first-child {
	border-top: 1px dotted #333333;
	padding-bottom: 8px;
	padding-top: 8px;
	/*margin-top: 8px;*/
}
div.team_info_1_list_div {
	position:absolute;
	left: 100px;
	display: inline;
	width: 150px;
}
.unified_ol_design_team {
	list-style-position: inside;
	margin-left: 0px;
	padding-left: 0px;
	font-size: 13px;
}
.unified_ol_design_team li:first-child {
	border-top: 1px dotted #333333;
	padding-top: 11px;
}
.unified_ol_design_team li {
	width: 322px;
	margin-bottom: 8px;
	padding-top: 3px;
	padding-bottom: 8px;
	color: #168E88;
	border-bottom: 1px dotted #333333;
}
.ul_ico_2_margin li:first-child {
	padding-top: 8px;
}
.ul_ico_2_margin li {
	padding-bottom: 12px;
	font-size: 13px;
}